.login-back {
    background-image: url("https://cdn.wallpapersafari.com/18/64/HbXt9T.jpg");
    /*background-image: linear-gradient(to right bottom, #381452, #360f51, #340a51, #310550, #2f004f);*/
    background-attachment: fixed;
    background-size: cover;
}