.signup-body {
    background: linear-gradient(
            rgb(37, 15, 59, 0.5),
            rgb(42, 7, 100, 0.5)
    ),
    url(https://cutewallpaper.org/23/hd-wallpaper-pink/1245919400.jpg);    /*background-image: linear-gradient(to right bottom, #381452, #360f51, #340a51, #310550, #2f004f);*/
    background-size: cover;
}

.signup-inner {
    border: 2px dashed #505050;
    background-blend-mode: darken;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
}

.signup-inner-container {
    background: linear-gradient(
            rgb(37, 15, 59, 0.2),
            rgb(42, 7, 100, 0.2)
    ),
    url(https://free4kwallpapers.com/uploads/originals/2020/11/15/sunset-vector-wallpaper.jpg);
    background-size: cover;
}

.forgot-pw-inner-container {
    background: linear-gradient(
            rgb(37, 15, 59, 0.2),
            rgb(42, 7, 100, 0.2)
    ),
    url(https://free4kwallpapers.com/uploads/originals/2020/11/15/sunset-vector-wallpaper.jpg);
    background-size: cover;
}

.double-input {
    width: 50%;
    margin: 5px;
}

.input-container {
    flex-direction: row;
}

.phone-dob-row {
    display: flex;
}

.sign-topic {
    font-size: 40px;
}

.sign-labels {
    font-size: 14px;
}

@media (max-width:578px) {
    .double-input {
        width: 50%;
    }

    .input-container {
        flex-direction: row;
    }

    .phone-dob-row {
        flex-direction: column-reverse;
    }
}